h1 {
  font-size: 42px;
}

input {
  height: 40px;
  width: 350px;
  padding-left: 15px;
  border: 2px solid #34616f;
  border-right: none;
  background-color: transparent;
  border-radius: 12px 0 0 12px;
}

input:focus {
  color: #313131;
  border-color: #182d6b;
}

button {
  height: 46px;
  width: 100px;
  background-color: #34616f;
  border: none;
  color: white;
  border-radius: 0 12px 12px 0;
}

