.repo--card{
  border: 2px solid black;
  padding: 15px 25px;
  margin: 20px;
  background-color: #CDF564;
  transition: color .4s;
  /* border-radius:4px */
}
.repo--card:first-child{
  margin-top:0;
}
.repo--card:hover{
cursor: pointer;
background-color: black;
color:white;
transition: color .4s;
transition: background-color .4s;
}

.star-count{
  display: flex;
}

.star-count p{
  margin-left: 10px;
}
